/* seccion header */
.headerEvent {
    background-image: url('../img/events/1/1_Fondo.png');
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.title h1 {
    text-align: center;
}

.headerEvent .event {
    padding: 1rem;
    display: flex;
    align-items: center;
    max-height: 80%;
}

.headerEvent .txtEvent {
    width: 70%;
}

.headerEvent .event h3 {
    font-size: 15px;
}

.headerEvent .linksEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerEvent .event .boton {
    width: 50%;
    text-align: center;
    background-color: var(--botones);
}

.headerEvent .event .linkEvent {
    font-size: 8px;
    text-decoration: underline;
}

.boxEvent-1 {
    background-color: var(--cajaTexto);
}

.boxEvent-2 {
    background-color: var(--cajaTexto);
}

.boxEvent-3 {
    background-color: var(--cajaTexto);
}

@media screen and (min-width:996px) {
    .headerEvent {
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .title {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }
    .boxSelect {
        padding: 2rem;
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    .boxSelect select {
        max-height: 20%;
        width: 100%;
        border: none;
        margin: 4px;
    }
    .boxSelect option {
        padding: 1rem;
    }
    .boxEvent-1 {
        grid-column: 3 / 5;
        grid-row: 3;
    }
    .boxEvent-2 {
        grid-column: 3 / 5;
        grid-row: 4;
    }
    .boxEvent-3 {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }
}

/* seccion 2 */

.seccionTwoEvents {
    background-image: url('../img/events/2/2_Fondo.png');
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 1rem;
}

.seccionTwoEvents {
    padding: 1rem;
}

.seccionTwoEvents #inputEvent {
    width: 40%;
    height: 10%;
    padding-left: 1rem;
    float: right;
}

.inputSubscribe input {
    background-color: var(--botones);
    border: none;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    width: 50%;
}

@media screen and (min-width:996px) {
    .seccionTwoEvents {
        background-image: url('../img/events/2/2_Fondo.png');
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .infoEvent {
        grid-column: 2 / 3;
        grid-row: 1;
        padding: 2rem;
    }
    .dateEvent {
        grid-column: 2 / 3;
        grid-row: 2;
        height: 50%;
        padding: 1rem;
    }
}

@media screen and (max-width:768px) {
    .seccionTwoEvents #inputEvent {
        width: 100%;
        height: 50%;
    }
    .inputSubscribe input {
        width: 100%;
    }
}

.containerSeccionTwo h4 {
    color: #fff;
}

.infoEvent {
    background-color: rgba(255, 255, 255, .4);
    padding: 2rem;
}

.dateEvent {
    background-color: rgba(255, 255, 255, .4);
    height: 50%;
    padding: 1rem;
}