
/* ===============ALERTS================== */
.notificacion {
    position: fixed;
    top: 4rem;
    right: 4rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
}
.visible {
opacity: 1;
}
/** Colores de la notificacion**/
.correcto {
background-color: rgb(179,241, 117);
color: green;
}
.error {
background-color: rgb(238, 148, 166);
color: rgb(163, 0, 33);
}

.container-myAddres .btn-borrar {
    cursor: pointer;
}